<div class="container">
  <div class="row">
  <h2>you better not ask</h2>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <form action="/answer" method="get">
          <div class="row">
            <div class="col-xs-6">

              <div class="form-group">
                <!-- <label for="question">You better not ask..</label> -->
                <input type="text" id="question" name="user_ask" placeholder="what time is it?">
                <input type="submit" value="Go on!" class="btn btn-primary">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

